.wp-author-widget .blog-title{
	margin-bottom:5px
}
.wp-author-widget  .more{
	float:left;
	margin-top: 5px;
	display: block;
	width: 100%;
}
.wp-author-widget .text-center{
	text-align:center
}
.wp-author-widget .about-footer {
    margin-top: 26px;
    padding: 9px 15px;
    border-top: 1px solid #efefef;
}
.wp-author-widget .social-icons .fa {
    font-size: 14px;
}
.wp-author-widget .social-icons a, .wp-author-widget a{
	color:#333
}
.wp-author-widget .social-icons i {
    line-height: 30px;
    text-align: center;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    color: #1a1a1a;
}
.wp-author-widget .list-inline>li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
    line-break: initial;
}
.wp-author-widget .list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}

.wp-author-widget .post_header_title{
	margin-top:20px
}
.wp-author-widget .clear{
	clear:both;
	display:table
}
.wp-author-widget .waw-avatar img.avatar.photo {
    border-radius: 50%;
}
.widget.widget_wp_author_widget h2{
    margin-bottom: 10px;
}   